.navbar {
	width: 100%;
	padding: 10px;
	position: fixed;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--black);
	color: var(--white);
}

.piece {
	will-change: filter;
  	transition: filter 300ms;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.piece:hover {
	filter: drop-shadow(0 0 1em #e6ff04);
}

.navbar div {
	display: flex;
	align-items: center;
	gap: 30px
}


.logo {
	width: 40px;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.chessboard {

  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.chessboard img {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.square {
  width: 70px;
  height: 70px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.white {
  background-color: var(--white);
}

.black {
  background-color: var(--black);
}

.coordinate,
.coordinate-right {
  height: auto;
  display: flex;
  position: absolute;
  font-size: 12px;
  font-weight: 700;
}
.coordinate {
  left: 4%;
  bottom: 4%;
}
.coordinate-right {
  right: 4%;
  top: 4%;
}

.white-text {
  color: var(--white);
}

.black-text {
  color: var(--black);
}
